<section>
    <div class="container">
        <div class="row">
            <!-- Post content-->
            <div class="col-lg-8">
                <!-- Title-->
                <h1 class="mt-4">{{ data.title }}</h1>
                <!-- Date and time-->
                <p>{{ data.created | date }} tarihinde <a routerLink="/profile/{{ data.createdBy?.id }}">{{ data.createdBy?.displayName }}</a> tarafından eklendi</p>
                <br />
                <!-- Preview image-->
                <img class="img-fluid rounded" src="{{ data.selectedImage?.url }}" alt="{{ data.name }}" />
                <br /><br />
                <!-- Post content-->
                <p class="lead">{{ data.description }}</p>
            </div>
            <!-- Sidebar widgets column-->
            <div class="col-md-4">
                <!-- Side widget-->
                <div class="card border-primary my-4">
                    <h5 class="card-header">{{ data.name }}</h5>
                    <div class="card-body">
                        <p>{{ data.fromWhere?.text }}, {{ data.city?.text }}</p>
                        <p>{{ data.gender?.text }} {{ data.race?.name }}</p>
                        <p>{{ data.age?.text }} ve {{ data.size?.text }}</p>
                    </div>
                </div>

                <div *ngIf="data.isEditable" class="card my-4">
                    <h5 class="card-header">İlan</h5>
                    <div class="card-body">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1"
                                [checked]="data.petStatus.value == 'Published'" (change)="onChangeStatus()">
                            <label class="custom-control-label" for="customSwitch1">{{ data.petStatus.text }}</label>
                        </div>
                        <br/>
                        <image-upload [petId]="data.id"></image-upload>
                        <br/>
                        <button routerLink="/pet/edit/{{data.id}}" class="btn btn-primary mr-2">Düzenle</button>
                        <button (click)="openModal('delete-modal')" class="btn btn-danger">Sil</button>
                    </div>
                </div>

                <div class="card border-danger my-4">
                    <h5 class="card-header">Uyarı</h5>
                    <div class="card-body">
                        <h4 class="card-title">ÜCRET İSTENİRSE GÜVENMEYİN!</h4>
                        Kargo/taşıma ücreti dahil herhangi bir sebeple ücret isteyen kişilere güvenmeyin.
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<jw-modal id="delete-modal">
    <ng-container body>Pet kaydı silinecek. Devam etmek istediğinize emin misiniz?</ng-container>
    <ng-container submit>
        <button type="button" (click)="onDelete()" [disabled]="deleting" class="btn btn-danger">
            Sil<span *ngIf="deleting">...</span>
        </button>
    </ng-container>
</jw-modal>