<div class="row">
    <div class="d-none d-md-block col-lg-3">
        <pet-search></pet-search>
    </div>
    <div class="col-lg-9">
        <div class="row mb-3">
            <div class="col-md-9">
                <h2 class="my-4">{{ pageTitle }} Sahiplenme İlanları</h2>
            </div>
            <div class="col-md-3 my-auto text-md-right">
                <a class="btn btn-secondary" routerLink="/pet/add/{{ searchParams.petType }}">
                    {{ pageTitle }} İlanı Ver
                </a>
            </div>
        </div>
        <div class="row">
            <div *ngIf="loading" class="col-12">
                <span class="spinner-border text-primary"></span>
            </div>            
            <div *ngFor="let pet of pageOfItems" class="col-lg-4 col-md-6 mb-4">
                <pet-card [pet]="pet"></pet-card>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <pagination [itemLength]="totalCount" (changePage)="onChangePage($event)"></pagination>
            </div>
        </div>
    </div>
</div>