<div class="p-4">
    <div class="container">
        <h1>Merhaba {{account?.firstName}}!</h1>        
        <p>Yeni <a routerLink="/pet/add/cat">Kedi</a> veya <a routerLink="/pet/add/dog">Köpek</a> ekle.</p>
    </div>
    
</div>

<div class="card text-center m-3">
    <h3 class="card-header">List</h3>
    <div class="card-body">
        <div *ngFor="let pet of pageOfItems">
            <h3>
                <a routerLink="/pet/{{ pet.id }}">{{ pet.title }}</a>
            </h3>
            {{ pet.description }}
        </div>
    </div>
    <div class="card-footer pb-0 pt-3">
        <jw-pagination [itemLength]="itemLength" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
</div>