<h3 class="card-header">Kullanıcı Kaydı</h3>
<div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col">
                <label>İsim</label>
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">İsim zorunlu</div>
                </div>
            </div>
            <div class="form-group col">
                <label>Soyisim</label>
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Soyisim zorunlu</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>E-posta Adresi</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">E-posta adresi zorunlu</div>
                <div *ngIf="f.email.errors.email">E-posta adresi geçerli bir adres olmalı</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Parola</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Parola zorunlu</div>
                    <div *ngIf="f.password.errors.minlength">Parola en azından 6 karakterden oluşmalı</div>
                </div>
            </div>
            <div class="form-group col">
                <label>Parola Onayı</label>
                <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Parola onayı zorunlu</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Parola, onayı ile aynı olmalı</div>
                </div>
            </div>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
            <label for="acceptTerms" class="form-check-label">Kullanıcı sözleşmesini onaylıyorum.</label>
            <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Kullanıcı sözleşmesi onayı zorunlu</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Kaydol
            </button>
            <a routerLink="../login" href="" class="btn btn-link">İptal</a>
        </div>
    </form>
</div>