<h3 class="card-header">Parola Sıfırla</h3>
<div class="card-body">
    <div *ngIf="tokenStatus == TokenStatus.Validating">
        Güvenlik kodu doğrulanıyor...
    </div>
    <div *ngIf="tokenStatus == TokenStatus.Invalid">
        Güvenlik kodu geçersiz. Geçerlilik tarihi geçmiş olabilir. Tekrar denemek için <a routerLink="../forgot-password">şifremi unuttum</a> sayfasını kullanabilirsiniz.
    </div>
    <form *ngIf="tokenStatus == TokenStatus.Valid" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Parola</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Parola zorunlu</div>
                <div *ngIf="f.password.errors.minlength">Parola en azından 6 karakterden oluşmalı</div>
            </div>
        </div>
        <div class="form-group">
            <label>Parola Onayı</label>
            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Parola onayı zorunlu</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Parola, onayı ile aynı olmalı</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Güncelle
            </button>
            <a routerLink="../login" class="btn btn-link">İptal</a>
        </div>
    </form>
</div>